body {
      font: 400 15px/1.8 Lato, sans-serif;
      background-color: #ffad33;
  }
  h3, h4 {
      margin: 10px 0 30px 0;
      letter-spacing: 10px;      
      font-size: 20px;
      color: #111;
      text-align: center;
  }
  
  .container {
      padding: 80px 120px;
  }
  .person {
      border: 10px solid transparent;
      margin-bottom: 50px;
      width: 70%;
      height: 100%;
      opacity: 0.7;
  }
  .person:hover {
      border-color:  #80aaff;
  }
  .carousel-inner img {
      width: 80%; /* Set width to 100% */
      margin:auto;
      height: 100%;
    }
    
 
  
  .carousel-caption h3 {
      color: #fff !important;
  }
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
      background-color: #ffad33;
    }
  }
  
 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {background-color: pink;
      
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body {background-color: green;
      
    }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {background-color: blue;
      
    }
} 


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {background-color: red;
      
    }
} 


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .body {background-color: lightblue;
      
    }
}

  
  .bg-1 {
      background: #2d2d30;
      color: #bdbdbd;
  }
  .bg-1 h3 {color: #fff;}
  .bg-1 p {font-style: italic;}
  .list-group-item:first-child {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
  }
  .list-group-item:last-child {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
  }
  .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  .thumbnail p {
      margin-top: 15px;
      color: #555;
  }
  .btn {
      padding: 10px 20px;
      background-color: #333;
      color: #f1f1f1;
      border-radius: 0;
      transition: .2s;
  }
  .btn:hover, .btn:focus {
      border: 1px solid #333;
      background-color: #fff;
      color: #000;
  }
  .modal-header, h4, .close {
      background-color: #333;
      color: #fff !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-header, .modal-body {
      padding: 40px 50px;
  }
 .nav-tabs li a {
      color: red;
      background-color: black;
  }
  
  
  
  

  .item img{ width:50%;
             height:30%; 
             padding-top: 15%;}

  .navbar {
      font-family: Montserrat, sans-serif;
      margin-bottom: 0;
      background-color: black;
      border: 0;
      font-size: 12px !important;
      letter-spacing: 4px;
      opacity: 1;
      padding-bottom: 30px;
      overflow: auto;
      width: 100%;
}

  
  }
  .navbar-nav li a { 
      color:  red !important;
  }
  .navbar-nav li a:hover {
      color: #fff !important;
  }
  .navbar-nav .active a {
      color: #fff !important;
      background-color: #29292c !important;
  }
  .navbar-default .navbar-toggle {
      background-color: transparent;
  }
  .open .dropdown-toggle {
      color: #fff;
      background-color: #555 !important;
  }
  .dropdown-menu li a {
      color: #000 !important;
  }
  .dropdown-menu li a:hover {
      background-color: red !important;
  }
  footer {
      background-color: black;
      color: black;
      opacity: 1;
      width: 100%;
     
      
     
  }
  footer a {
      color: #f5f5f5;
  }
  footer a:hover {
      color: #777;
      text-decoration: none;
  }  
  .form-control {
      border-radius: 0;
  }
  textarea {
      resize: none;
  }
  
  .embed-responsive-item src {
    
    max-width: 100%;
    height: auto;
}
  .social-links {
    padding-bottom: 15px;
}
/*use border-radius to create perfect circle around edges, which will be semi-transparent.  Setting border-radious to 50% and styling font-awesome icon, as well as reusing transition hover effects for .cv-pdf hover.*/

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}


    
/*set hover for social-links using hover pseudo class. Set bg-color same as cv-pdf icon */
.social-links li a i:hover {
    background:  red;
}

.website {color: red;
}

.container {color: black;}

.general {color: red;}



$(document).ready(function(){
  // Initialize Tooltip
  $('[data-toggle="tooltip"]').tooltip(); 
  
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {

      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
})
